@import "../styles/custom-media.css";
@import "../styles/custom-properties.css";

.root {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: var(--color-black);
  padding: 0 var(--layout-gutter-width);
  @media (--media-min-small) {
    position: absolute;
    background-color: transparent;
    padding: 0 5rem;
  }
}

.wrapper {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  padding: 1.6rem 0;
  border-bottom: 1px solid var(--color-white);
  @media (--media-min-small) {
    border: 0;
    flex-direction: row-reverse;
    padding: 4.2rem 0;
  }
}

.name {
  line-height: 1;
  margin: 0;
  @media (--media-min-small) {
    display: none;
  }
}
.mailLink {
  display: flex;
  font-size: 3.2rem;
  @media (--media-min-small) {
    position: fixed;
    top: 5rem;
    right: 5rem;
    font-size: 4.8rem;
  }
}
