@import "../styles/custom-media.css";
@import "../styles/custom-properties.css";
@import "../styles/effects.css";

.root {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: var(--color-blue);
  padding: 0 var(--layout-gutter-width);
  z-index: 3;
  @apply --effect-fadeIn;
  animation-duration: var(--animation-timing-duration);
  animation-delay: var(--animation-timing-third);
  @media (--media-min-small) {
    position: absolute;
    background-color: transparent;
    padding: 0 5rem;
  }
}

.wrapper {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  padding: 1.3rem 0;
  border-bottom: 1px solid var(--color-white);
  @media (--media-min-small) {
    border: 0;
    flex-direction: row-reverse;
    padding: 4.2rem 0;
  }
}
.linkList {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  justify-content: space-between;

  @media (--media-max-small) {
    width: 100%;
  }

  @media (--media-min-small) {
    gap: 3rem;
  }

  & li {
    font-family: var(--font-family-serif);
  }
}
.name {
  line-height: 1;
  margin: 0;
  @media (--media-min-small) {
    display: none;
  }
}
.link {
  display: flex;
  font-size: 2.2rem;
  @media (--media-min-small) {
    font-size: 3.5rem;
  }
  &:hover {
    @apply --effect-rainbow-swing-hover;
  }
}
