@import "../styles/breakpoints.scss";
@import "../styles/effects.scss";

.root {
  position: fixed;
  top: 0;
  width: 100%;
  max-width: var(--layout-content-max-width);
  padding: 0 var(--layout-gutter-width);
  z-index: 3;
  margin: 0 auto;

  @media (min-width: $media-min-small) {
    position: relative;
    padding: 0 5rem;
  }
}

.backgroundFilled {
  background-color: var(--color-black);
  transition: background-color 0.2s linear;

  @media (min-width: $media-min-small) {
    background-color: transparent;
  }
}

.wrapper {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  padding: 1.3rem 0;
  border-bottom: 1px solid var(--color-white);

  @media (min-width: $media-min-small) {
    border: 0;
    flex-direction: row-reverse;
    padding: 3rem 0;
  }
}

.linkList {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  justify-content: space-between;

  @media (max-width: $media-max-small) {
    width: 100%;
  }

  @media (min-width: $media-min-small) {
    gap: 2.5rem;
  }

  @media (min-width: $media-min-large) {
    gap: 3rem;
  }
}

.name {
  line-height: 1;
  margin: 0;

  @media (min-width: $media-min-small) {
    display: none;
  }
}

.link {
  display: flex;
  font-size: 2.2rem;

  @media (min-width: $media-min-small) {
    font-size: 3rem;
  }
}

@media (hover: hover) and (pointer: fine) {
  .link:hover {
    @include effect-rainbow-swing-hover;
  }
}
