@import "../styles/custom-media.css";
@import "../styles/custom-properties.css";

.root {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  padding: 0 var(--layout-gutter-width);
  @media (--media-min-small) {
    padding: 0 var(--layout-gutter-width-desktop);
  }
}
