@import "../styles/breakpoints.scss";
@import "../styles/effects.scss";

.root {
  position: relative;
  z-index: 2;
  padding: 12rem var(--layout-gutter-width) 0;
  max-width: var(--layout-content-max-width);
  margin: 0 auto;

  @media (min-width: $media-min-small) {
    line-height: 1.25;
    padding: 5rem var(--layout-gutter-width) 0;
  }

  @media (min-width: $media-min-large) {
    padding-top: 8rem;
  }

  h2 {
    line-height: 1;
    margin: 0 0 3rem;
    font-size: 4rem;

    @media (min-width: $media-min-small) {
      font-size: 5rem;
      margin: 0 0 3.6rem;
    }
  }

  p {
    margin: 0 0 2rem;

    font-size: 2rem;

    @media (min-width: $media-min-small) {
      font-size: 2.6rem;
    }
  }

  p:last-child {
    margin-bottom: 0;
  }
}

.iconWrapper {
  font-size: 4rem;

  @media (min-width: $media-min-small) {
    font-size: 7rem;
  }
}
