@import "../styles/breakpoints.scss";

.root {
  position: relative;
  z-index: 2;
  display: flex;
  align-items: center;
  justify-content: center;
  /* font-size: var(--font-base-size); */
  padding: 10rem var(--layout-gutter-width) 0;
  max-width: var(--layout-content-max-width);
  margin: 0 auto;

  @media (min-width: $media-min-small) {
    line-height: 1.25;
    padding: 5rem var(--layout-gutter-width-desktop) 0;
  }
  @media (min-width: $media-min-large) {
    padding-top: 8rem;
  }
  h2 {
    line-height: 1;
    margin: 0 0 2rem;
    font-family: var(--font-family-serif);
    font-size: 3.2rem;

    /* @apply --effect-fadeInUp; */
    animation-duration: var(--animation-timing-duration);
    animation-delay: var(--animation-timing-first);
    @media (min-width: $media-min-extra-small) {
      font-size: 4.8rem;
      margin: 0 0 3rem;
    }
    @media (min-width: $media-min-large) {
      font-size: 6.5rem;
      margin: 0 0 4.8rem;
    }
  }
  p {
    margin: 0 0 2rem;
    /* @apply --effect-fadeIn; */
    animation-duration: var(--animation-timing-duration);
    animation-delay: var(--animation-timing-second);
    @media (min-width: $media-min-small) {
      margin: 0 0 2.5rem;
    }
  }
  p:last-child {
    margin-bottom: 0;
  }
}
.iconWrapper {
  font-size: 4rem;
  @media (min-width: $media-min-small) {
    font-size: 7rem;
  }
}
