@import "../styles/custom-media.css";
@import "../styles/custom-properties.css";
@import "../styles/effects.css";

.root {
  position: relative;
  z-index: 2;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: var(--font-base-size);
  padding: 0 var(--layout-gutter-width);
  max-width: var(--layout-content-max-width-tablet);
  margin: 0 auto;

  @media (--media-min-extra-small) {
    font-size: var(--font-large-size);
  }

  @media (--media-min-small) {
    line-height: 1.25;
    padding: 0 var(--layout-gutter-width-desktop);
    font-size: var(--font-huge-size);
  }
  @media (--media-min-large) {
    font-size: var(--font-massive-size);
    max-width: var(--layout-content-max-width-desktop);
  }
  & h2 {
    line-height: 1;
    margin: 0 0 2rem;
    font-family: var(--font-family-serif);
    font-size: 3.2rem;

    @apply --effect-fadeInUp;
    animation-duration: var(--animation-timing-duration);
    animation-delay: var(--animation-timing-first);
    @media (--media-min-extra-small) {
      font-size: 4.2rem;
      margin: 0 0 4rem;
    }
    @media (--media-min-small) {
      font-size: 8.8rem;
    }
    @media (--media-min-large) {
      margin: 0 0 4.8rem;
    }
  }
  & p {
    margin: 0 0 2rem;
    @apply --effect-fadeIn;
    animation-duration: var(--animation-timing-duration);
    animation-delay: var(--animation-timing-second);
    @media (--media-min-small) {
      margin: 0 0 2.5rem;
    }
  }
  & p:last-child {
    margin-bottom: 0;
  }
}
.scrollDown {
  position: absolute;
  transform: translateX(-50%) rotate(180deg);
  left: 50%;
  bottom: 3rem;

  @apply --effect-fadeIn;
  animation-duration: var(--animation-timing-duration);
  animation-delay: var(--animation-timing-third);
  @media (--media-min-small) {
    bottom: 3rem;
  }
}
.iconWrapper {
  font-size: 4rem;
  @media (--media-min-small) {
    font-size: 7rem;
  }
}
