@import "../styles/custom-media.css";
@import "../styles/custom-properties.css";
@import "../styles/twelve-col.css";

.root {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: var(--font-large-size);
  padding: 0 var(--layout-gutter-width);
  @media (--media-min-small) {
    @apply --twelve-col;
    font-size: var(--font-massive-size);
  }
  & h2 {
    font-size: var(--font-huge-size);
    @media (--media-min-small) {
      font-size: var(--font-largest-size);
    }
  }
}
.textWrapper {
  @media (--media-min-small) {
    @apply --twelve-col-inner;
  }
}
