@import "../styles/custom-media.css";
@import "../styles/custom-properties.css";
@import "../styles/twelve-col.css";
@import "../styles/effects.css";

.root {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: var(--font-large-size);
  line-height: 1.4;
  padding: 0 var(--layout-gutter-width);
  @media (--media-min-small) {
    @apply --twelve-col;
    font-size: var(--font-massive-size);
  }
  & h2 {
    line-height: 1;
    margin: 0 0 4rem;
    font-size: var(--font-huge-size);
    @media (--media-min-small) {
      margin: 0 0 5.6rem;
      font-size: var(--font-largest-size);
    }
  }
  & p {
    margin: 0 0 2.5rem;
    @media (--media-min-small) {
      margin: 0 0 4rem;
    }
  }
  & p:last-child {
    margin-bottom: 0;
  }
}
.textWrapper {
  @media (--media-min-small) {
    @apply --twelve-col-inner;
  }
}
