@import "../styles/breakpoints.scss";
@import "../styles/effects.scss";

.root {
  position: relative;
  z-index: 2;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 12rem var(--layout-gutter-width) 0;
  max-width: var(--layout-content-max-width);
  margin: 0 auto;

  @media (min-width: $media-min-small) {
    line-height: 1.25;
    padding: 5rem var(--layout-gutter-width-desktop) 0;
  }

  @media (min-width: $media-min-large) {
    padding-top: 8rem;
  }

  h2 {
    line-height: 1;
    margin: 0 0 2rem;
    font-size: 4rem;
    @include effect-fadeInUp;
    animation-duration: var(--animation-timing-duration);
    animation-delay: var(--animation-timing-first);

    @media (min-width: $media-min-small) {
      font-size: 6.4rem;
      margin: 0 0 4.8rem;
    }
  }

  p {
    margin: 0 0 2rem;
    @include effect-fadeIn;
    animation-duration: var(--animation-timing-duration);
    // animation-delay: var(--animation-timing-second);
    font-size: 3rem;

    @media (min-width: $media-min-small) {
      margin: 0 0 2.5rem;
      font-size: 3.8rem;
    }
  }

  p:nth-child(1) {
    animation-delay: var(--animation-timing-second)
  }

  p:nth-child(2) {
    animation-delay: calc(var(--animation-timing-second) + 1s)
  }

  p:nth-child(3) {
    animation-delay: calc(var(--animation-timing-second) + 1.5s)
  }

  p:nth-child(4) {
    animation-delay: calc(var(--animation-timing-second) + 2s)
  }

  p:last-child {
    margin-bottom: 0;
  }
}

.iconWrapper {
  font-size: 4rem;

  @media (min-width: $media-min-small) {
    font-size: 7rem;
  }
}