@import "../styles/custom-media.css";
@import "../styles/custom-properties.css";

.markdown p,
.markdown ul,
.markdown ol,
.markdown blockquote {
  margin: 0 0 1.7rem;

  @media (--media-min-small) {
    margin: 0 0 2.8rem;
  }
}
.markdown ul,
.markdown ol {
  list-style: none;
  padding: 0;
}
.markdown li {
  &:before {
    content: "-";
    margin-left: 0;
    margin-right: 7px;
    color: var(--color-yellow);
    @media (--media-min-small) {
      margin-right: 11px;
    }
  }
}

/* .markdown h2 {
  @apply text-3xl mt-12 mb-4 leading-snug;
}

.markdown h3 {
  @apply text-2xl mt-8 mb-4 leading-snug;
} */
