/* @import "../styles/custom-media.scss"; */
/* @import "../styles/custom-properties.css"; */

.markdown p,
.markdown ul,
.markdown ol,
.markdown blockquote {
  margin: 0 0 1.7rem;

  @media (--media-min-small) {
    margin: 0 0 1.9rem;
  }
}
.markdown ul,
.markdown ol {
  list-style: none;
  padding: 0;
}
.markdown li {
  display: table;

  /* TODO: Add this back */
  /* &:before {
    content: "-";
    margin-left: 0;
    margin-right: 7px;
    color: var(--color-white);
    @media (--media-min-small) {
      margin-right: 11px;
    }
  } */
}