@import "../styles/custom-media.css";
@import "../styles/custom-properties.css";

.root {
  position: relative;
  z-index: 2;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 14rem;
  padding: 14rem var(--layout-gutter-width);
  max-width: var(--layout-content-max-width-tablet);
  margin: 0 auto;

  @media (--media-min-small) {
    padding: 14rem var(--layout-gutter-width-desktop) 21rem;
  }
  @media (--media-min-large) {
    max-width: var(--layout-content-max-width-desktop);
  }
}
/* .root:last-child {
  margin-bottom: 0;
} */

.listTitle {
  margin: 0 0 5.9rem;
  font-family: var(--font-family-serif);
  font-size: var(--font-base-size);
  line-height: var(--font-base-line-height);
  @media (--media-min-small) {
    margin: 0 0 9rem;
    font-size: var(--font-large-size);
    line-height: var(--font-large-line-height);
  }
}
