@import "../styles/breakpoints.scss";
@import "../styles/effects.scss";

.root {
  position: relative;
  z-index: 2;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 var(--layout-gutter-width);
  max-width: var(--layout-content-max-width);

  margin: 0 auto;
  padding-bottom: 14rem;

  @media (min-width: $media-min-small) {
    padding: 0 var(--layout-gutter-width) 14rem;
  }
}
.wrapper {
  @media (min-width: $media-min-small) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 6rem;
  }
  @media (min-width: $media-min-medium) {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
