@import "../styles/custom-media.css";
@import "../styles/custom-properties.css";
@import "../styles/effects.css";

.root {
  margin-bottom: 4.5rem;
  @media (--media-min-small) {
    margin-bottom: 5.5rem;
  }
}

.projectTitle {
  margin: 0 0 1.7rem;
  font-size: var(--font-large-size);
  @media (--media-min-small) {
    margin: 0 0 2.3rem;
    font-size: var(--font-huge-size);
  }
  & a {
    display: inline-flex;
    align-items: center;
    color: var(--color-white);
    background-image: none;
  }
  & a:hover {
    @apply --effect-rainbow-hover;
    & .projectTitleText {
      @apply --solid-underline-hover;
    }
    & .arrowIcon {
      transition: all 0.35s ease;

      animation-duration: 0.35s;
      animation-name: bounce-small;
      animation-iteration-count: infinite;
      animation-direction: alternate;
      @media (--media-min-small) {
        animation-name: bounce;
      }
    }
  }
}
.projectTitleText {
  @apply --solid-underline-white;
  &:hover {
    @apply --solid-underline-hover;
    color: var(--color-link-hover);
    & svg {
      fill: var(--color-link-hover);
    }
  }
}
.arrowIcon {
  transition: all 0.35s ease;
  font-size: 3rem;
  margin-left: 1.4rem;
  @media (--media-min-small) {
    font-size: 3.6rem;
    margin-left: 1.9rem;
  }
}
.tags {
  /* font-size: var(--font-small-size); */
  color: var(--color-gray);
  @media (--media-min-small) {
    font-size: 2rem;
  }
}

@keyframes bounce-small {
  from {
    margin-left: 1.4rem;
  }

  to {
    margin-left: 1.9rem;
  }
}
@keyframes bounce {
  from {
    margin-left: 1.9rem;
  }

  to {
    margin-left: 2.6rem;
  }
}
