@import "../styles/breakpoints.scss";
@import "../styles/effects.scss";


.root {
  position: relative;
  z-index: 2;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 14rem;
  padding: 0 var(--layout-gutter-width);
  max-width: var(--layout-content-max-width);
  margin: 0 auto;
  @include effect-fadeIn;
  animation-duration: var(--animation-timing-duration);
  animation-delay: var(--animation-timing-last);

  @media (min-width: $media-min-small) {
    padding: 0 var(--layout-gutter-width-desktop) 10rem;
  }
}

.listTitle {
  margin: 0 0 3.9rem;
  font-family: var(--font-family-serif);
  font-size: var(--font-base-size);
  line-height: var(--font-base-line-height);

  @media (min-width: $media-min-small) {
    margin: 0 0 9rem;
    font-size: var(--font-large-size);
    line-height: var(--font-large-line-height);
  }
}