@import "../styles/breakpoints.scss";
@import "../styles/effects.scss";

.root {
  position: relative;
  margin-bottom: 4.5rem;

  @media (min-width: $media-min-small) {
    margin-bottom: 5.5rem;
  }

  &:last-child {
    margin-bottom: 0;
  }
}

.projectTitle {
  margin: 0 0 1.3rem;
  font-size: 2.3rem;

  @media (min-width: $media-min-small) {
    margin: 0 0 2.3rem;
    font-size: 3.2rem;
  }

  a {
    align-items: center;
    color: var(--color-white);
    background-image: none;
  }

  @media (hover: hover) and (pointer: fine) {
    & a:hover {
      @include effect-rainbow-hover;

      .projectTitleText {
        @include solid-underline-hover;
      }

      .arrowIcon {
        background-image: linear-gradient(
          45deg,
          var(--color-red),
          var(--color-yellow),
          var(--color-red)
        );
        background-clip: text;
        -webkit-text-fill-color: transparent;
        background-repeat: unset;
        background-position: 0px var(--underline-distance);
        background-size: 1000px 1px;
        animation-name: rainbow-text-bg-position, bounce-small;
        animation-duration: 1s, 0.35s;
        animation-timing-function: linear;
        animation-iteration-count: infinite;
        animation-direction: alternate;
        @media (min-width: $media-min-small) {
          animation-name: rainbow-text-bg-position, bounce;
        }
      }
    }
  }
}

.projectTitleText {
  @include solid-underline-white;

  @media (hover: hover) and (pointer: fine) {
    &:hover {
      @include solid-underline-hover;
      color: var(--color-link-hover);

      svg {
        fill: var(--color-link-hover);
      }
    }
  }
}

.arrowIcon {
  display: inline-block;
  font-size: 3rem;
  margin-left: 1.4rem;
  background-image: none;
  position: relative;
  top: 0.7rem;

  @media (min-width: $media-min-small) {
    font-size: 3.6rem;
    margin-left: 1.9rem;
  }
}

.tags {
  color: var(--color-gray);
}

.leadImage {
  width: 100%;
  margin-bottom: 2.5rem;
  border-radius: 1rem;
  aspect-ratio: 16 / 9;
  object-fit: cover;
}
