@import "../styles/custom-media.css";
@import "../styles/custom-properties.css";

.root {
  margin-bottom: 4.5rem;
  @media (--media-min-small) {
    margin-bottom: 5.5rem;
  }
}

.projectTitle {
  margin: 0 0 1.7rem;
  font-size: var(--font-large-size);
  @media (--media-min-small) {
    margin: 0 0 2.3rem;
    font-size: var(--font-huge-size);
  }
  & a {
    color: var(--color-white);
  }
  & a:hover {
    color: var(--color-pink);
  }
}
.tags {
  font-size: var(--font-small-size);
  color: var(--color-gray);
  @media (--media-min-small) {
    font-size: 2rem;
  }
}
