@import "../styles/custom-media.css";
@import "../styles/custom-properties.css";

.root {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 14rem;
  padding: 0 var(--layout-gutter-width);
  padding-top: 14rem;
  @media (--media-min-small) {
    padding: 0 var(--layout-gutter-width-desktop);
    padding-top: 14rem;

    margin-bottom: 21rem;
  }
}
.root:last-child {
  margin-bottom: 0;
}

.wrapper {
  @media (--media-min-small) {
    max-width: var(--layout-content-max-width);
  }
}

.listTitle {
  margin: 0 0 5.9rem;
  font-size: var(--font-base-size);
  line-height: var(--font-base-line-height);
  @media (--media-min-small) {
    margin: 0 0 9rem;
    font-size: var(--font-large-size);
    line-height: var(--font-large-line-height);
  }
}
