@import "../styles/breakpoints.scss";
@import "../styles/effects.scss";

.root {
  padding: 0 var(--layout-gutter-width);
  margin: 7rem auto;
  //   max-width: var(--layout-content-max-width);

  @media (min-width: $media-min-small) {
    margin: 10rem auto;
    padding: 0 var(--layout-gutter-width-desktop);
  }

  hr {
    width: 100%;
    margin: 0;
    padding: 0;
    height: 1px;
    border-top: 1px solid white;
    border-bottom: 0;
  }
}
