$media-min-extra-small: 350px;
$media-max-extra-small: 349px;
$media-min-small: 768px;
$media-max-small: 767px;
$media-min-medium: 1265px;
$media-max-medium: 1264px;
$media-min-large: 1600px;
$media-max-large: 1599px;
