:root {
  --font-family-sans: "Founders Grotesk Regular", sans-serif;
  --font-family-serif: "Newzald Book", serif;

  --color-black: #050505;
  --color-offblack: #101010;
  --color-white: #fff;
  --color-gray: #919191;
  --color-yellow: #f9e248;
  --color-pink: #dd03c4;
  --color-red: #e90404;
  --color-link-hover: var(--color-red);

  --underline-distance: 1.05em;

  /* layout */
  --layout-content-max-width: 81rem;
  --layout-gutter-width: 2.2rem;
  --layout-gutter-width-desktop: 8rem;

  --animation-timing-duration: 1s;

  --animation-timing-first: 0.5s;
  --animation-timing-second: 1s;
  --animation-timing-third: 3s;
  --animation-timing-last: 3.5s;
}
