:root {
  --font-family-sans: "Founders Grotesk Regular", sans-serif;

  --color-black: #000000;
  --color-dark-gray: #32373e;
  --color-very-light-gray: #e7ebed;
  --color-white: #fff;
  --color-accent: #707070;

  --color-light-gray: #b7b7b7;
  --color-gray: #e2e2e2;
  --color-highlight-yellow: #e1ff4b;
  --color-pink: #dd03c4;

  --color-link-hover: var(--color-pink);

  /* Typography */

  --unit: 16;
  --font-micro-size: 1.2rem;
  --font-micro-line-height: 1.2;

  --font-small-size: 1.6rem;
  --font-small-line-height: 1.25;

  --font-base-size: 2.2rem;
  --font-base-line-height: 1.2;
  --font-medium-size: 2.6rem;
  --font-medium-line-height: 1;
  --font-large-size: 3.6rem;
  --font-large-line-height: 1.1;

  --font-huge-size: 5.4rem;
  --font-huge-line-height: 1.24;

  --font-base-size-mobile: 1.8rem;
  --font-base-line-height-mobile: 1.44;
  --font-base-size-desktop: 2.2rem;
  --font-base-line-height-desktop: 1.2;

  /* layout */
  /* --layout-max-width: 1440px; */
  --layout-max-width: 1920px;
  --layout-gutter-width: 3.2rem;

  --layout-text-max-width: 62.4rem;
  --layout-text-max-width-wide: 104.5rem;
}
