:root {
  --font-family-sans: "Founders Grotesk Regular", sans-serif;

  --color-black: #000000;
  --color-gray: #919191;
  --color-white: #fff;
  --color-yellow: #f9e248;
  --color-pink: #dd03c4;

  --color-link-hover: var(--color-pink);

  /* Typography */
  --font-small-size: 1.4rem;
  --font-small-line-height: 1.3;

  --font-base-size: 1.8rem;
  --font-base-line-height: 1.3;

  --font-large-size: 2.4rem;
  --font-large-line-height: 1.3;

  --font-huge-size: 3.2rem;
  --font-huge-line-height: 1.3;

  --font-massive-size: 4.2rem;
  --font-massive-line-height: 1.3;

  --font-largest-size: 6.4rem;
  --font-largest-line-height: 1.3;

  --underline-distance: 1.05em;

  /* layout */
  /* --layout-max-width: 1440px; */
  --layout-max-width: 1920px;

  --layout-gutter-width: 2.2rem;
  --layout-gutter-width-desktop: 3.2rem;
}
