:root {
  --font-family-sans: "Founders Grotesk Regular", sans-serif;

  --color-black: #000000;
  --color-gray: #e7ebed;
  --color-white: #fff;
  --color-yellow: #f9e248;
  --color-pink: #dd03c4;

  --color-link-hover: var(--color-pink);

  /* Typography */

  --font-base-size-mobile: 1.8rem;
  --font-base-line-height-mobile: 1.44;
  --font-base-size-desktop: 2.4rem;
  --font-base-line-height-desktop: 1.2;

  /* layout */
  /* --layout-max-width: 1440px; */
  --layout-max-width: 1920px;
  --layout-gutter-width: 3.2rem;
}
