@import "./custom-properties.css";
@import "./effects.css";

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
  margin: 1rem 0;
  line-height: var(--font-base-line-height);
}
a,
button {
  /* @apply --solid-underline; */
  text-decoration: none;
  color: var(--color-yellow);
  & > span {
    @apply --solid-underline;
  }
}

@media (hover: hover) and (pointer: fine) {
  a,
  button {
    &:hover {
      @apply --effect-rainbow-hover;
      color: var(--color-link-hover);
      & svg {
        fill: var(--color-link-hover);
      }
      & > span {
        @apply --solid-underline-hover;
      }
    }
  }
}
p {
  margin: 1.8rem 0;
}
button {
  appearance: none;
  border: none;
  background: none;
  outline: none;
  color: inherit;
  cursor: pointer;
  font-size: inherit;
  padding: 0;

  & svg {
    display: block;
    fill: inherit;
  }
}
