@import "./custom-properties.css";

:root {
  --solid-underline: {
    background-image: linear-gradient(
      to right,
      var(--color-yellow) 100%,
      var(--color-yellow) 100%
    );
    background-position: 0 var(--underline-distance);
    background-repeat: repeat-x;
    background-size: 1px 1px;
  }
  --solid-underline-white: {
    background-image: linear-gradient(
      to right,
      var(--color-white) 100%,
      var(--color-white) 100%
    );
    background-position: 0 var(--underline-distance);
    background-repeat: repeat-x;
    background-size: 1px 1px;
  }
  --solid-underline-hover: {
    background-image: linear-gradient(
      to right,
      var(--color-link-hover) 100%,
      var(--color-link-hover) 100%
    );
    background-position: 0 var(--underline-distance);
    background-repeat: repeat-x;
    background-size: 1px 1px;
  }
  --dotted-underline: {
    background-image: linear-gradient(to right, #d534e9 50%, transparent 50%);
    background-position: 0 1.04em;
    background-repeat: repeat-x;
    background-size: 6px 3px;
  }
}
